# General
.DS_Store
Thumbs.db
*.log

# Rust
/target
**/target/
**/*.rlib
**/*.rmeta

# Cargo
**/Cargo.lock

# Go
**/bin/
**/dist/
**/*.exe
**/*.test

# Node / JS (if added later)
node_modules/

# IDEs / Editors
.vscode/
.idea/
*.iml

# OS / misc
*.tmp
*.swp
